body {
    padding: 0;
    margin: 0;
}

.halfScreen {
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0;
}

.left {
    left: 0px;
    background-color: #4ecdc4;
    text-align: right;
}

.right {
    right: 0px;
    background-color: #ff6b6b;
    text-align: left;
}

#txtLeft {
    color: #1a535c;
}

#txtRight {
    color: #ffe66d;
}

h1 {
    padding: 20% 40px;
    text-align: center;
    font-size: 4rem;
    font-family: jost;
    font-weight: normal;
}

#refreshButton {
    position: absolute;
    top: 80%;
    left: 50%;
    padding: 10px;
    background-color: #f7fff7;
    font-family: jost;
    transform: translateX(-50%);
    text-align: center;
}



#txtLeft::selection {
    color: #fdf5f7;
    background-color: #7896ff;
}

#txtRight::selection {
    color: #7896ff;
    background-color: #fdf5f7;
}

#refreshButton:hover {
    color: #4c4c4c;
    cursor: pointer;
    outline: 1px solid black;
}